
:root {
    --color-primary: #000000df; /* Negro */
    --color-accent: #365b77; /* azul oscuro */
    --color-highlight: #AFEEEE; /* Celeste pálido */
    --color-light: #ffffff; /* Blanco */
    --color-gray: #6b6b6b; /* Gris */
    --color-bg-hover: #6b6b6bd2; /* Fondo hover */
    --color-red: red; /*color rojo*/
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);
    position: fixed;
    border-radius: 0px 18px 18px 0px;
    transition: all .5s;
    min-width: 82px;
    z-index: 1000;
    left: 0px;
    margin-top: 0%;
    height: 100%;
}

.fa-chevron-right:before {
    color: white;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid var(--color-accent);
}

#user_infos {
    display: flex;
    flex-direction: column;
    color: var(--color-light);
}

.item-description {
    color: var(--color-light);
}

#user_infos span:last-child {
    color: var(--color-gray);
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0px;
    
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: var(--color-accent);
}

.side-item:hover,
#logout_btn:hover {
    background-color: var(--color-bg-hover);
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
}

.side-item.active a {
    color: var(--color-light);
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid var(--color-bg-hover);
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 20px;
    right: -14px;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* botón de cerrar sesión */
.btncerrarsesion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--color-red);
    width: 50px; /* Tamaño inicial del botón */
    height: 40px; /* Altura del botón */
}

/* signo de salir */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 25px;
}

.sign svg path {
    fill: var(--color-light);
}

/* texto */
.text {
    position: absolute;
    right: 10px; /* Ajuste del texto desde la derecha */
    width: 0;
    opacity: 0;
    color: var(--color-light);
    font-size: 12px;
    font-weight: 600;
    transition-duration: .3s;
    white-space: nowrap; /* Evita el salto de línea */
}

/* efecto hover en la anchura del botón */
.btncerrarsesion:hover {
    width: 150px; /* Ancho del botón al pasar el mouse */
    transition-duration: .3s;
}

.btncerrarsesion:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 5px; /* Espaciado del signo */
}

/* efecto hover en el texto del botón */
.btncerrarsesion:hover .text {
    opacity: 1;
    width: 70%; /* Ajuste de ancho del texto */
    transition-duration: .3s;
    padding-left: 20px; /* Espaciado del texto */
}

/* efecto de clic en el botón */
.btncerrarsesion:active {
    transform: translate(2px, 2px);
}

.logo {
    width: 100px;
    position: fixed;
    z-index: 999;
    top: 1%;
    right: 1%;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid var(--color-accent);
}



